data/*.txt
data/*.nam
data/*.tr
data/*.tcp
data
_old
notebook/.ipynb_checkpoints
scripts/N-T_search/*_settings.txt
scripts/N-T_search/*_qsub-run.sh
scripts/N-T_search/*.network
scripts/N-T_search/*.tcp
scripts/N-T_search/*.npy
scripts/N-T_search/*.settings.json
.DS_Store
testdata/out*
src/__pycache__
delay_search/setting_mg_delay_*.txt
notebook/__pycache__
tmp
